.cellophan {all:initial; display:inline-block;}
.cellophan+.cellophan {border:none; border-left: 1px dashed rgba(255,255,255,0.5); margin-left: -1px}

.viewport.portrait .cellophan+.cellophan {border:none; border-top: 1px dashed rgba(255,255,255,0.5) }

.card strong {
  font-weight: bold;  font-family: "DINCond";
}

.din {font-family: "DINCond" !important}

.card {
    width: 288px; height: 400px; position:relative; font-family: "DINCond"; color: black;
}



.card .background, .card .foreground {display:block; position:absolute; width: 100%; height:100%; left:0; top:0; z-index: 0;}
.card .background > *, .card .foreground > * {position:absolute}
.card.front .background {background: url(images/2e_front_vanilla.jpg) ; background-size: contain;}
.card.back .background {background: url(images/2e_back_vanilla.jpg) ; background-size: contain;}
.card .foreground {z-index: 1}

.card .stats {
    position: absolute;  color: white; text-transform: uppercase; 
    background: #3a3b3d; border: 0.15em solid #fff; width: 28%; border-collapse: collapse; 
    text-align: center; font-size: 100%; line-height: 170%; font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


/* MODEL  */
.card.model .stats > div {display:flex; flex-direction: row; width:100%} 
.card.model .stats > div > div {border-right: 0.15em solid #fff; border-bottom: 0.15em solid #fff; font-weight: normal; flex-grow:3; font-size: 90% }
.card.model .stats > div:last-child > div {border-bottom:none}
.card.model .stats > div > div:last-child { flex-grow:0; width: 30%; border-right: none; color: #000; font-size: 110%}
.card.model .stats > div.fight > div:last-child {background: #c67229}
.card.model .stats > div.shoot > div:last-child {background: #bf452d}
.card.model .stats > div.defence > div:last-child {background: #862419; color: white}
.card.model .stats > div.mind > div:last-child {background: #78a2b2}
.card.model .stats > div.body > div:last-child {background: #7f8d73}
.card.model .stats > div.spirit > div:last-child {background: #c1912d}
.card.model .stats.left  { top: 14%; left: 5% }
.card.model .stats.right { top: 14%; right: 5% }
.card.model .stats.right > div {flex-direction: row-reverse}
.card.model .stats.right > div > div {border-right: 0.15em solid #fff;}
.card.model .stats.right > div > div:first-child {border-right: none;}
.card.model .pic {
  width: 36%; height: 25.5%; position:absolute; left: 30.5%; top:11%; display:block; border: 0.4em solid black; background: white; border-radius: 100%;
  background-size: contain; background-repeat:   no-repeat; background-position: center center;  

}

.card.model .sfxribbon { top: 42%; left: 5%; width: 90%; font-size: 90%; margin:0  }
.card.model .sfxribbon dl {margin:0; display:flex; flex-direction: row; width: 100%; align-content: flex-start; font-size: 90%;}
.card.model .sfxribbon dt { line-height: 150%; white-space: nowrap; font-weight: bold; width: 35%; text-transform: uppercase}
.card.model .sfxribbon dd { margin:0; width: 70%;  color: #862419; }; 
.card.model .sfxribbon dd span {display:inline-block}
.card.model .sfxribbon dd span:after {content:", "}
.card.model .sfxribbon dd span:last-child:after {content:"."}
.card.model .sfxribbon dd .icon-star_icon:before { font-size: 90%}



/* /MODEL */

/* COMMON  */


.card .background:after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  background: attr(data-tint);
} 
.card .title {color: white; line-height: 225%; margin-left: 2% }
.card .title {text-transform: uppercase}
.card .title span {font-size:70%}
.card .title .star:before {content: "\2605"; font-style:normal}
.card .title .co-star:before {content: "\2729"; font-style:normal}
.card .title .extra:before {content: "\2726"; font-style:normal}

.card .weapons {width: 90%; left: 5%; font-size: 82.5%; top: 60%; background: #3a3b3d; border: none; border-collapse:collapse; box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.card .weapons td {padding: 1% 2% 1% 2%; vertical-align: middle; font-size: 80% }
.card .weapons thead {background: #3a3b3d; color: white; text-transform: uppercase}
.card .weapons tbody {background: white }
.card .weapons tbody tr:nth-child(even) { background: #d0d3d5}
.card .weapons tbody td.strike { background: black; color: white; text-align: center; width: 10%}
.card .weapons tbody td.range {text-align: center; ; width: 10%}
.card .weapons tbody td.range:after {content:'"'}
.card .weapons tbody td.attack {padding-left:5%; ; width: 30%; position: relative}

.card .weapons tbody tr.melee td.attack:before,
.card .weapons tbody tr.range td.attack:before  {
  font-family: 'icomoon'; content: "\e909"; position:absolute; left: -2.5%;  background: white; border-radius: 100%; font-size: 110%; box-shadow: 0 0 10px rgba(0,0,0,0.5); line-height: 100%; 
}
.card .weapons tbody tr.range td.attack:before {content: "\e908";}
 
.card .ratings {bottom: 1%; color: white; left: 5%; text-align: center; line-height: 90%; font-size: 90%}
.card .ratings val {display:block;}
.card .health {width: 100%; bottom:5.5%; text-align:center }
.card .health div { width: 1.4em; height: 1.4em; margin:0.1em; background: white; border: 0.1em solid black; display:inline-block;border-radius: 100% }

.card .tags {color: white; bottom: 1.5%; right: 1%; font-size:130%; }
.card .tags i {margin-left: 0.2em; vertical-align: bottom}
.card .tags img {margin-left: 0.2em; height: 1.05em; vertical-align: bottom; margin-bottom: 0.1em}

.card section {
  top: 12%; font-size: 70%; width: 90%; left: 5%; height: 82%; display:flex; flex-flow: column wrap; overflow: visible; overflow-wrap: break-word ; text-overflow: ellipsis;
 }
.card section > * {width:50%; padding-right: 3%;}
.card section heading {text-transform: uppercase; font-weight: bold; font-size: 110%; color: #862419; margin: 0em 0 0.5em 0; display:block}
.card section .icon-star_icon:before { font-size: 90%; color: #862419;}
.card section p {margin: 0 0 0.5em 0; break-inside: avoid; widows: 3; }
.card section p em { color: #862419; font-weight: bold; font-style: normal}

/* /COMMON */

/* VEHICLE */
.card.vehicle .title .vehicle:before,
.card.unit .title .unit:before
  {content: "\2726"; font-style:normal} 
.card.vehicle .pic {
  width: 60%; height: 43%; position:absolute; left: 19%; top:11%; display:block; border: 0.4em solid black; background: white; border-radius: 100%;
  background-size: contain; background-repeat:   no-repeat; background-position: center center;  
}
.card.vehicle .stats {
  display:flex; flex-direction: row; top:50%; width:90%; left: 4%; border:none; background:none; box-shadow: none;
}
.card.vehicle .stats > div {
  display:flex; flex-direction: row; margin: 0 1% 0 1%; flex-grow:1;
  background: #3a3b3d; border: 0.15em solid #fff; width: 28%; border-collapse: collapse; 
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.card.vehicle .stats > div > div {flex-grow:1; font-weight: normal; font-size:90%}
.card.vehicle .stats > div > div:last-child {font-size: 110%; width:20%; border-left: 0.10em solid #fff}

.card.vehicle .stats > div.capacity > div:last-child {background: #c67229}
.card.vehicle .stats > div.armour > div:last-child {background: #862419;}
.card.vehicle .stats > div.defence > div:last-child {background: #78a2b2}
.card.vehicle .description { width:90%; left: 4%; top:54%; font-size: 80%}
.card.vehicle .sfxribbon { top: 78%; left: 5%; width: 90%; font-size: 90%; margin:0  }
.card.vehicle .sfxribbon dl {margin:0; display:flex; flex-direction: row; width: 100%; align-content: flex-start; font-size: 90%;}
.card.vehicle .sfxribbon dt { line-height: 150%; white-space: nowrap; font-weight: bold; width: 35%; text-transform: uppercase}
.card.vehicle .sfxribbon dd { margin:0; width: 70%;  color: #862419; }; 
.card.vehicle .sfxribbon dd span {display:inline-block}
.card.vehicle .sfxribbon dd span:after {content:", "}
.card.vehicle .sfxribbon dd span:last-child:after {content:"."}
.card.vehicle .sfxribbon dd .icon-star_icon:before { font-size: 90%}

/* /VEHICLE */
/* UNIT */
.card.front.unit .background {background: url(images/2e_unit_back.jpg) ; background-size: contain;}
.card.unit .tags {bottom:auto; top:2%; right:2%}
.card.unit.back .content { width:90%; left: 4%; top:12%; height:80%; position:relative; font-size:80% }
.card.unit.back .content .model {display: flex;margin-left:10%; width:80%}
.card.unit.back .content .model dt {font-size: 130%; color: #862419; font-weight:bold; flex-grow:1}
.card.unit.back .content .model dd {flex-grow:6; margin:0}
.card.unit.back .content .pic {
   position:absolute; bottom:5%; right:0; z-index: -1;
   width: 50%;
   height: 50%;
   position: absolute;
   background-size: contain;
   background-repeat: no-repeat;
   background-position: right;
  }
/* /UNIT */
.viewport {display:inline-flex; flex-direction: row}
.viewport.portrait {flex-direction: column; }
.viewport.portrait .card.back { transform: rotate(180deg); }


@media screen {
  .viewport {  margin: 2mm;  padding: 10px; position: relative}
  .viewport.selected {     background: rgba(0,255,255,0.2);}
  /*transform: scale(1.5); transform-origin: left top*/
}

@media print {
  @page {
    size: A4 landscape;
    margin: 10mm;
  }
  .card {
    width: 63.5mm; height: 88mm; position:relative;
  }
  


  .canvas {
    overflow:visible; margin: 6mm; 
  }
  .cellophan+.cellophan { border-color: rgba(0,0,0,0.5); border-width: 0.25mm;}

  .cellophan {position: relative}
  .cellophan:before, .cellophan:after {
    position: absolute;
    content: '';
    border: solid black;
    z-index: -1;
    
  }
  .cellophan:before {
    top: -3mm; bottom: -3mm;
    left: 0px; right: 0px;
    border-width: 0 1px 0 1px;
    border-style: dotted
  }
  .cellophan:after {
    left: -3mm; right: -3mm;
    top: 0px; bottom: 0px;
    border-width: 1px 0 1px 0;
    border-style: dotted
  }

  .viewport { page-break-after: always; height: 88mm;  display:block; float:left; position: relative; top:3mm }
  
  /*.card.back { transform: rotate(180deg)}*/
  


}

