.cellophan {all:initial; display:inline-block;}
.cellophan+.cellophan {border:none; border-left: 1px dashed rgba(255,255,255,0.5); margin-left: -1px}

.viewport.portrait .cellophan+.cellophan {border:none; border-top: 1px dashed rgba(255,255,255,0.5) }

.card strong {
  font-weight: bold;  font-family: "DINCond";
}

.din {font-family: "DINCond" !important}

.card {
    width: 288px; height: 400px; position:relative; font-family: "DINCond"; color: black;
}

.card > * {position:absolute}

.card:before {content:" ";display:block; position:absolute; width: 100%; height:100%; left:0; top:0;}
.card.front:before { background: url(images/2e_front_vanilla.jpg) ; background-size: contain; }
.card.back:before { background: url(images/2e_back_vanilla.jpg); background-size: contain; }

/*.card.front:before {filter: hue-rotate(50deg)}*/

.card .stats {
    position: absolute;  color: white; text-transform: uppercase; background: #3a3b3d; border: 0.15em solid #fff; width: 28%; border-collapse: collapse; 
    text-align: center; font-size: 100%; line-height: 170%; font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}



.card .stats > div {display:flex; flex-direction: row; width:100%} 
.card .stats > div > div {border-right: 0.15em solid #fff; border-bottom: 0.15em solid #fff; font-weight: normal; flex-grow:3; font-size: 90% }
.card .stats > div:last-child > div {border-bottom:none}
.card .stats > div > div:last-child { flex-grow:0; width: 30%; border-right: none; color: #000; font-size: 110%}
.card .stats > div.fight > div:last-child {background: #c67229}
.card .stats > div.shoot > div:last-child {background: #bf452d}
.card .stats > div.defence > div:last-child {background: #862419; color: white}
.card .stats > div.mind > div:last-child {background: #78a2b2}
.card .stats > div.body > div:last-child {background: #7f8d73}
.card .stats > div.spirit > div:last-child {background: #c1912d}
.card .stats.left  { top: 14%; left: 5% }
.card .stats.right { top: 14%; right: 5% }
.card .stats.right > div {flex-direction: row-reverse}
.card .stats.right > div > div {border-right: 0.15em solid #fff;}
.card .stats.right > div > div:first-child {border-right: none;}
.card .pic {
  width: 36%; height: 25.5%; position:absolute; left: 30.5%; top:11%; display:block; border: 0.4em solid black; background: white; border-radius: 100%;
  background-size: contain; background-repeat:   no-repeat; background-position: center center;  

}

.card .sfxribbon { top: 42%; left: 5%; width: 90%; font-size: 90%; margin:0  }

.card .sfxribbon dl {margin:0; display:flex; flex-direction: row; width: 100%; align-content: flex-start; font-size: 90%;}
.card .sfxribbon dt { line-height: 150%; white-space: nowrap; font-weight: bold; width: 35%; text-transform: uppercase}

.card .sfxribbon dd { margin:0; width: 70%;  color: #862419; }; 

.card .sfxribbon dd span {display:inline-block}
.card .sfxribbon dd span:after {content:", "}
.card .sfxribbon dd span:last-child:after {content:"."}

.card .sfxribbon dd .icon-star_icon:before { font-size: 90%}

.card .weapons {width: 90%; left: 5%; font-size: 82.5%; top: 60%; background: #3a3b3d; border: none; border-collapse:collapse; box-shadow: 0 0 10px rgba(0,0,0,0.5);}
.card .weapons td {padding: 1% 2% 1% 2%; vertical-align: middle; font-size: 80% }
.card .weapons thead {background: #3a3b3d; color: white; text-transform: uppercase}
.card .weapons tbody {background: white }
.card .weapons tbody tr:nth-child(even) { background: #d0d3d5}
.card .weapons tbody td.strike { background: black; color: white; text-align: center; width: 10%}
.card .weapons tbody td.range {text-align: center; ; width: 10%}
.card .weapons tbody td.range:after {content:'"'}
.card .weapons tbody td.attack {padding-left:5%; ; width: 30%; position: relative}

.card .weapons tbody tr.melee td.attack:before,
.card .weapons tbody tr.range td.attack:before  {
  font-family: 'icomoon'; content: "\e909"; position:absolute; left: -2.5%;  background: white; border-radius: 100%; font-size: 110%; box-shadow: 0 0 10px rgba(0,0,0,0.5); line-height: 100%; 
}
.card .weapons tbody tr.range td.attack:before {content: "\e908";}
.card .title {color: white; line-height: 225%; margin-left: 2% }
.card .title {text-transform: uppercase}
.card .title span {font-size:70%}
.card .title .star:before {content: "\2605"; font-style:normal}
.card .title .co-star:before {content: "\2729"; font-style:normal}
.card .title .extra:before {content: "\2726"; font-style:normal}

.card .ratings {bottom: 1%; color: white; left: 5%; text-align: center; line-height: 90%; font-size: 90%}
.card .ratings val {display:block;}
.card .health {width: 100%; bottom:5.5%; text-align:center }
.card .health div { width: 1.4em; height: 1.4em; margin:0.1em; background: white; border: 0.1em solid black; display:inline-block;border-radius: 100% }

.card .tags {color: white; bottom: 1.5%; right: 1%; font-size:130%; }
.card .tags i {margin-left: 0.2em}

.card section {top: 12%; font-size: 70%; width: 90%; left: 5%; column-count: 2; height: 79% }
.card section heading {text-transform: uppercase; font-weight: bold; font-size: 110%; color: #862419; margin: 0 0 0.5em 0; display:block}
.card section .icon-star_icon:before { font-size: 90%; color: #862419;}
.card section p {margin: 0 0 1em 0}


.ProfileSelector .panel-body {padding:0 !important}
.ProfileSelector .listing { overflow: auto; height:400px; }
.ProfileSelector .listing .miniCard {margin: 5px}
.ProfileSelector .listing .miniCard+.miniCard {border-top: 1px solid #eee}
.ProfileSelector .listing .miniCard dd {font-size: smaller}
.ProfileSelector .listing .miniCard.selected { background: #C1DFEA}

.viewport {display:inline-flex; flex-direction: row}
.viewport.portrait {flex-direction: column; }
.viewport.portrait .card.back { transform: rotate(180deg); }

#root {width: 100%; height:100%}





@media screen {
  .App { display:flex; flex-direction: row; height:100%}
  
  .App .sidebar {flex-grow:1; background: white; box-shadow: 0 0 10px #000; width: 100%; height:100%; display:flex; flex-direction: column}
  .App .canvas {flex-grow:1; height:100%; width:100%; overflow: auto}

  .viewport {  margin: 2mm;  padding: 10px; position: relative}
  .viewport.selected {     background: rgba(0,255,255,0.2);}
  /*transform: scale(1.5); transform-origin: left top*/

}

@media print {
  @page {
    size: A4 landscape;
    margin: 10mm;
  }
  .card {
    width: 63.5mm; height: 88mm; position:relative;
  }
  
  #root, .App, .canvas, html, body {height: auto; width: auto}

  .canvas {
    overflow:visible; margin: 6mm; 
  }
  .cellophan+.cellophan { border-color: rgba(0,0,0,0.5); border-width: 0.25mm;}

  .cellophan {position: relative}
  .cellophan:before, .cellophan:after {
    position: absolute;
    content: '';
    border: solid black;
    z-index: -1;
    
  }
  .cellophan:before {
    top: -3mm; bottom: -3mm;
    left: 0px; right: 0px;
    border-width: 0 1px 0 1px;
    border-style: dotted
  }
  .cellophan:after {
    left: -3mm; right: -3mm;
    top: 0px; bottom: 0px;
    border-width: 1px 0 1px 0;
    border-style: dotted
  }

  .viewport { page-break-after: always; height: 88mm;  display:block; float:left; position: relative; top:3mm }
  
  /*.card.back { transform: rotate(180deg)}*/
  


}

