@font-face {
  font-family: '7tv2-core';
  src: url('icons/7tv2-core.eot?bgvs1g');
  src: url('icons/7tv2-core.eot?bgvs1g#iefix') format('embedded-opentype'),
  url('icons/7tv2-core.ttf?bgvs1g') format('truetype'),
  url('icons/7tv2-core.woff?bgvs1g') format('woff'),
  url('icons/7tv2-core.svg?bgvs1g#7tv2-core') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use  to prevent issues with browser extensions that change fonts */

  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-drive_icon:before {
  font-family: '7tv2-core', sans-serif !important;
  content: "\e90a";
}

.icon-fist_icon:before {
  font-family: '7tv2-core', sans-serif !important;
  content: "\e909";
}

.icon-star_icon:before {
  font-family: '7tv2-core', sans-serif !important;
  content: "\e907";
}

.icon-target_icon:before {
  font-family: '7tv2-core', sans-serif !important;
  content: "\e908";
}

.icon-civilian:before {
  font-family: '7tv2-core', sans-serif !important;
  content: "\e900";
}

.icon-crime:before {
  font-family: '7tv2-core', sans-serif !important;
  content: "\e901";
}

.icon-law-and-order:before {
  font-family: '7tv2-core', sans-serif !important;
  content: "\e902";
}

.icon-science:before {
  font-family: '7tv2-core', sans-serif !important;
  content: "\e903";
}

.icon-secret:before {
  font-family: '7tv2-core', sans-serif !important;
  content: "\e904";
}

.icon-unknown:before {
  font-family: '7tv2-core', sans-serif !important;
  content: "\e905";
}

.icon-military:before {
  font-family: '7tv2-core', sans-serif !important;
  content: "\e906";
}
